.timer {
    width: 3rem;
    height: 2.5rem;
    margin: 1rem;
    background-image: linear-gradient(to bottom, rgba(61, 58, 58, 0.9)0% 50%,
    rgba(99, 93, 93, 0.9)50% 100%);
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}