@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.header {
    height: 13vh;
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-family: 'Bangers', cursive;

}

.logo-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.header img {
    width: 3.5rem;
    height: 3.5rem;
}